#main-header {
	z-index: 30;
}

#hero marquee {
    opacity: 0.5;
    font-family: Impact;
    font-size: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 100%;
    line-height: 800px;
    overflow:visible;
    z-index: 20;
}
